<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Sentiment Analysis</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">


   
</head>
<body>
	<!--Header side-->
	<header>
		<img id="img" src="/static/RA.png">
		<div class='content'>
			<a href='#'>Home</a>
			<a href=#>How it works</a>
			<a href='#'>About us</a>
			<a href='#'>Contact</a>
		</div>
	</header>

	<!-- Sections side -->

	<section>

		<div class='sa'>
			::after
			<div class='contain'>
				<h1>Sentiment Analysis For Amazon Products</h1>
				<p>An API for Receiving And Analyzing Data For Amazon Products Reviews.
				</p>
				<div class=ana id='ana'>
					<form method="POST" onsubmit='return false'>
					  <label for='productName'>Enter Product Name</label><br><br>
					  <input type="text" id='productName' name='productName' value='{{data["productName"]}}'><br><br>
					  <button onclick='analyze()'>ANALYZE</button>				  
					</form>
				</div>
			</div>
		</div>


		<div class='result' id='r'>
			{% if data != '' %}
				{% if data == 'Product not found!' %}
					<br/>
					<br/>
					<div class='wrong'>
						{{ data }}
					</div>
					<br/>
					<br/>
				{% endif %}

				{% if data != 'Product not found!' %}
						<div class=info>
							Here The Setiment Analysis Information
							<p>About <span>{{ data['productName'] }}</span> Product</p>
							
						</div>
						<div class='correct'>
							<div class='container'>

								<div class='box'>
									<div class='chart'data-percent="{{data['pos']}}">{{data['pos']}}%</div>
									<h2>Positive Reviews</h2>
								</div>

								<div class='box'>
									<div class='chart'data-percent="{{data['neg']}}">{{data['neg']}}%</div>
									<h2>Negative Reviews</h2>
								</div>

								<dic class='box'>
									<div id=na class='chart'data-percent="{{data['nat']}}">{{data['nat']}}%</div>
									<br>
									<h2>Natural Reviews</h2>
								</dic>

							</div>

						
						<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
						<script src="/static/css/jquery.easypiechart.js"></script>

						<script>

							$(function() {
							    $('.chart').easyPieChart({
									size:180,
									barColor: '#1f8fa3',
									scaleColor: false,
									lineWidth:15,
									trackColor:'#373737',
									animate : 1500
									});
							    });
						</script>
					</div>
				{% endif %}
			{% endif %}
		</div>
	</section>

</body>
</html>
