html{scroll-behavior: smooth}
body{
    margin:0;
    padding:0}
header{
	overflow: hidden;
   	background-color: #010313;
	padding: 5px 10px;
	border-bottom: 1px solid;
	box-shadow: 0px 0px 15px 0px #324d81;
	z-index: 1;
	position: fixed;
	top: 0;
	width: 100vw;
}
.wc-img-cont{
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	display: flex;
	margin-top: -49vh;
}
#img{
   float:left;
	margin-left: 1%;
	padding:2px 1px;
}
*:not([class^="fa"]) {
	font-family: 'Raleway', sans-serif !important;
	font-weight: regular;}
.content{
  	font-family: 'Raleway', sans-serif !important;
	float:right;
	margin-right: 10%;
	margin-top: 1.6%;
	width:60%;
}
.content a {
	float: left;
	text-align: center;
	padding: 12px;
	line-height: 25px;
	border-radius: 4px;
	text-decoration: none;
	color: white;
	margin-right:5%;
	letter-spacing: 3px;
	font-size: 2em;
	font-weight: 500;
}
.content a:hover{
    padding-bottom: 15px;
    border-bottom: 4px solid #022946;
    border-radius: 3px;
}
#img{
	float:left;
	height: 11vh;
	width: 14vw;
}
h1{color:white;}
.sa {
	background-image: url(/static/background.jpg);
	background-size: cover;
	background-position: 50%;
	height: 84vh;
	margin-top: 0.4%;
}
.contain{
	margin-top: 6vw;
	max-width: 49vw;
	margin-left: 13vw;
}
.contain h1{
	font-size: 4.3em;
	font-weight: 200;
}
.contain p {
	font-size: 2em;
    color: #ffffffc7;
    margin-top: -3%;
}
.ana {
	background: #f2f4fa24;
	padding: 2vw;
	max-width: 40vw;
	min-height: 24vh;
	border-radius: 4px;
	display: block;
}
.ana label {
	color: white;
	font-size: 2.1em;
	font-weight: 300;
}
.ana input{
	padding: 0.7vw;
    background: #fff9;
    color: #000a1e;
    outline: 0;
    border-width: 0.1px 0.1px 5px 0.1px;
    width: 24.5vw;
    border-color: #011a2db3 #011a2db3 #000a1e #011a2db3;
    font-weight: 500;
    font-size: 1.3em;
}
.ana button{
	padding: 0.9vw;
    min-width: 7vw;
    background: #000a1e;
    border: 0px solid #ffffff2e;
    color: white;
    cursor: pointer;
	margin-top: 1.0vh;
	font-size:1.3em;
}
.ana button:hover{
	background: #f7f2f26e;
	color: #000a1e;
	border: 1px solid #000a1e;
	font-weight: 500;
}
.result{
	border: 1px solid #010313;
	margin-top: 4vw;
	max-width: 64vw;
	margin-left: 13vw;
	height: auto;
	position: relative;
}
.wrong{
	background: #c44b4b57;
	color: #810606;
	border: 2px solid #771616;
	width: 64vw;
	margin-top: 2vw;
	margin-left: 13vw;
	border-radius: 1px;
}
.wrong h3{
	font-size: 2.3em;
	font-weight: 600;
	margin-left: 20px;
	text-align: center;
}
.wrong p{
	font-size: 1.5em;
	font-weight: 300;
	text-align: center;
	margin-top: -2vh;
	margin-bottom: 3vh;
}
.correct .box{
	display: flex;
	padding: 5%;
	justify-content: space-around;
	align-content: center;
}
.correct .container{
    transform: translate(-60%, -60%);
	width: 58vw;
	background: #010313;
	height: 45vh;
	margin-left: 33.5vw;
	margin-top: 34vh;
	position: relative;
}
.correct .container .box{
    width:21%;
    float:left;
    margin-left: 1.2vw;
    margin-top: 3vh;
}
.correct .container .box h2{
	color: #fff;
	margin-top: 24.8vh;
	font-weight: 300;
	margin-left: -195px;
	font-size: 0.7em;
}
.correct .container .box .chart{
    position:relative;
    margin-left: 7px;
    font-size:1.3em;
    line-height:19.4vh;
    color: white;
}
.correct .container .box #na{
    
    font-size:2.9em;
    
}
.correct .container .box canvas{
    position:absolute;
    top:7px;
    left:-39px;
}
.info{
	padding: 3vw !important;
	font-size: 3em;
	font-weight: 200;
	color: #010313;
	margin-left: 1.3vw;
	padding: 10px;
}
.info p{
	font-size: 60%;
	font-weight: 300}
.info p span{
	font-weight: 500;
    color: #05092f}
.reviews{
	background: #fff;
    height: auto;
	margin-top:-100vh
}
.reviews ul{
	list-style-type: none;
	margin-left: 8.5vw;}
.reviews ul li{
	font-family: Arial;
	background: #f2f2f2;
	padding: 10px;
	padding-left: 10px;
	font-size: 50%;
	color: #010313;
	height: 15.8vh;
	overflow-y: auto;
	max-width: 25vw;
	outline: none;
	padding-left: 8vw;
	box-shadow: 10px 10px 5px 0px rgba(163, 163, 167, 0.57);
}
.reviews h3{
	padding: 17px;
   	padding-top: 17px;
	font-weight: 200;
	color: #010313;
	font-size: 0.9em;
	padding-top: 7vh;
	border-bottom: 4px solid #022946;
	width: 33vw;
	margin-left: 2vw;
}
.reviews #h{
	font-size: 0.6em;
	margin-top: 14vh;
	padding: 16px;
    font-weight: 200;
	width: 38vw;
}
.reviews ul li:before{
	content: 'Consumer Review';
	font-size: 1.2em;
	color: #010313;
	font-family: 'Raleway';
	display: block;
	margin-bottom: 1vh;
	padding: 5px;
	font-weight: 300;
	margin-top: 0.2vh;
	margin-left: -3vh;
}
.rev-img {
	width: 120px;
	height: 110px;
	position: absolute;
	margin-left: 1.1vh;
	margin-top: 1vh;
	filter: drop-shadow(6px 6px 2px rgba(51, 50, 50, 0.7));
}
.fa-thumbs-up, .fa-thumbs-down{margin-left: 13px;}
#work{
	border: 1px solid #010313;
	margin-top: 4vw;
	max-width: 64vw;
	margin-left: 13vw;
	min-height: 80vh;
	position: relative;
	font-weight: 200;
}
#work h3{
	padding: 1.5vw;
	font-size: 3.8em;
	font-weight: 200;
	color: #010313;
	margin-left: 3.3vw;
	border-bottom: 4px solid #022946;
	width: 20vw;
}
#work p{
	font-size: 2em;
	margin-left: 3.7vw;
	max-width: 52vw;
	font-weight: 300;
	line-height: 5vh;
}
#work h4{
	font-size: 3.1em;
	font-weight: 500;
	color: #010313;
	margin-left: 3.7vw;
	margin-bottom: 0vh;
}
#work ul{
	list-style-type: '- ';
	font-size: 2.1em;
	font-weight: 500;
	color: #022946bf;
	margin-left: 1.7vw;
	line-height: 6vh;
}
#work ul li{
	font-size: 1em;
    font-weight: 200;
    color: #010313;
    margin-left: 2.3vw;
}
#work li p{
	font-size: 0.9em;
	margin-top: 0;
	width: 32vw;
	color: #010313;
}
#work li a{
	text-decoration: none;
	color: #3b124d;
	font-weight: 300;
}
#work p span{font-weight: 500}
#about{
	border: 1px solid #010313;
	margin-top: 4vw;
	max-width: 64vw;
	margin-left: 13vw;
	min-height: 80vh;
	position: relative;
	font-weight: 200;
}
#about h3{
	padding: 1.5vw;
	font-size: 3.8em;
	font-weight: 200;
	color: #010313;
	margin-left: 3.3vw;
	border-bottom: 4px solid #022946;
	width: 14vw;
}
#about p{
	font-size: 2em;
    margin-left: 3.7vw;
    max-width: 52vw;
    font-weight: 300;
    line-height: 5vh;
}
#about p span{font-weight: 500}
#about img{
	float: right;
	margin-top: -17vh;
	margin-right: 4%;
}
#about-logo{
	float:right;
	margin-top: -20%;
	margin-right: 4%;
}
.p-cloud h3{
	font-weight: 200;
	color: #022946;
	position: absolute;
	margin-top: -15vh;
	font-size: 0.8em;
	border-left: 28px solid #010313;
	background: #0521360a;
	padding: 10px;
	margin-left: -2vh;
}
#word1-cloud{
	margin-left: -4vw;
	margin-top: -71vh;
	object-fit: contain;
	height: 100%;
	width: 100%;
}
footer{
	margin-top:10vh;
	background: #f7f7f7;
  	box-shadow: 0px 0px 10px 0px #141618;
  	padding: 1px;
  	text-align: center
}
#contact h3{
	color: #022946;
	font-size: 2em;
	font-weight: 700;
	width:58vw;
	margin: auto;
	padding: 5px;
	padding-top: 15px;
}
#contact ul{
	list-style-type: none;
	text-align: center;
}
#contact ul li{
	color: #010313;
    font-size: 1.3em;
    font-weight: 400;
	display:inline-block;
	margin-left: 4vw;
}
footer p{
	color: #022946;
	font-size: 1em;
	font-weight: 300;
	text-align:center;
	width:auto;
	margin-top: 4vh;
}
footer p a{
	text-decoration: none;
	color:#022946;
	font-weight: 500;
	font-size:1.2em;
}
.fa{font: normal normal normal 14px/1 FontAwesome;}
.fa-facebook{
	font-size: 100%;
  	color: #3b5998;}
.fa-instagram{
	font-size: 100%;
  	color: #93186c}
.fa-twitter{
	font-size: 100%;
  	color: #00acee}
#loading{
	font-size: 5em;
	color: white;
	padding: 20px;
	border-radius: 5px;
	width: 38%;
	text-align: center;
	font-weight: 200;
	text-shadow: 0px 0px 10px grey;
}
#loading-container{    
	position: fixed;
    z-index: 999;
    min-width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: #01031380;
    display: none;
}
#sugg{    
	margin-top: -1px;
    position: absolute;
    background-color: #e8ebec;
    width: 25%;
    border-radius: 3px;
    padding: 10px;
    padding-top: 20px;
    max-height: 22vh;
    overflow-y: scroll;
    color: #010313;
    z-index: 555;
    border: 1px solid #010313;
    display: none;
    font-weight: 400;
}
#sugg p{
	padding: 10px;
	cursor: pointer;
	color: #010313;
	border-bottom: 1px solid grey;
	font-size: 1.1em;
}
#brand-name{text-transform: uppercase}
#menu{
	float:right;
	display: none;
	color: white;
	font-size: 35px;
	margin: 20px;
	cursor: pointer;
}
#backdrop{
	display: none;
	background: #00000080;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;}

.chart span{margin-left: -3.4vw;}
progress {
	display: block; /* default: inline-block */
	width: 20vw;
	height:2.9vh;
	border: 0 none;
	background: #c1bcbc;
	border-radius: 14px;
	box-shadow: inset 1.2px 1.2px 1.2px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}
progress::-moz-progress-bar {
	border-radius: 12px;
	background: #022946;
	box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3)
}
.over-view{
	padding:10px;
	margin-top:20vh;
	margin-bottom: 50vh
}
.over-view h4{
	font-size: 60%;
	width: -moz-fit-content;
	padding: 10px;
	border-left: 15px solid #022946;
	border-radius: 4px;
}
.over-view ul{
	list-style: none;
	border-radius: 2px;
	width:100%;
	height:60vh
}
.over-view h2{
	  font-size: 85%;
    font-weight: 200;
    border-left: 28px solid #010313;
    background: #0521360a;
    width: -moz-fit-content;
    padding: 10px;
    color: #022946;
}
.over-view h2 span{
	font-weight: 900;
	color:#012743;
	text-align: center;
}
.over-view li p{
	font-size: 47%;
	position: relative;
	text-align: left
}
.over-view ul li{
	width: 45%;
	height: -moz-fit-content;
	margin-top: 0;
	padding: 0;
	position: relative;
	display:inline-block
}
